.lSAction>.lSPrev{
  display: none;
  left: 20px;
}
.lSAction>a{
  display: none;
 background-image: none;
 align-items: center;
}
.lSAction>.lSNext{
   display: none;
  right: 0px;
}

.silde_banner:hover .lSAction>.lSPrev,
.silde_banner:hover .lSAction>.lSNext {
  display: block;
  color: #444;

}
.custom-prev-html i,
.custom-next-html i
{
  font-size: 40px;
  color: #000;
}
.lSPager{
  position: absolute;
  left: 25px;
  top: 95%;
  z-index: 0;
}

/* ..................................................................... */


.container{
  margin-top: 30px;
}
.showproduct{
  margin-bottom: 40px;
}

.card_product{
  width: 320px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;

}
.img_product {
  height: 450px;
  position: relative;
}
.img_product img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content_card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.descrip{
  display: flex;
  flex-direction: column;
}
.descrip p{
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}
.descrip span{
  color: rgba(26, 26, 26, 0.5);
}
.price{
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}
.price:hover{
  text-decoration: none;
  color: #20020F;
}
.layout_buy{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(92, 95, 236, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout_buy .btn_buynow{
  width: 160px;
  height: 40px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: calibri;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.layout_buy .btn_buynow:hover{
  color: #fff;
  background: #f15fa3;
  transition: all ease 0.3s;
}
.layout_buy{
  visibility: hidden;
}
.img_product:hover .layout_buy{
  visibility: visible;
  animation:fade 0.5s;
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*-----------------end cardprduct-----------------*/
.selling{
  position: relative;
  text-align: center;
  margin-top: 10px;
  padding: 30px 20px;
}
.selling h3{
  font-size: 2.5rem;
  font-family: Jost,sans-serif;
  color: #282828;
}
.selling .conten_sell p{
  font-size: 16px;
  color: #686868;
}

/*---------------------------style cho card selling-------------*/

.sell_box{
  width: 320px;
  height: 350px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.img_sellbox{
  height: 260px;
  width: 100%;
 position: relative;
}
.img_sellbox img{
  position: absolute;
  width: 100%;
}
.infor_sell{
  display: flex;
  flex-direction: column;
  top: 100%;
  position: relative;
  padding: 10px 20px;
  text-align: center;
  align-items: center;
  z-index: 1;
  opacity: 0.9;
  background: rgba(0, 0, 0, 0.4);
  height: 130px;
  width: 100%;
  overflow: hidden;
  transition:0.6s;
}
.infor_sell h4{
  position: absolute;
  font-size: 20px;
  text-align: center;
  top: 100%;
  color: #fff;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  transition: 0.5s;
}
.sell_box:hover .infor_sell h4{
  top: 12px;
}

.price_sell{
  position: absolute;
  text-align: center;
  top: -40%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  transition: 0.5s;
}
.sell_box:hover .infor_sell .price_sell{
  top: 35px;
}

.infor_sell a{
  position: absolute;
  top: -55%;
  width: 160px;
  height: 40px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.sell_box:hover .infor_sell a{
  top: 60px;
}
.infor_sell a:hover{
  color: #fff;
  background-color: #EC3030;
}
.sell_box:hover .infor_sell{
  top: -20px;
}


/*--------------------------------slide blog---------------*/
.to_blog{
  margin-top: 35px; 
 background-color:  #f1e8df;
 padding: 20px 0px;
}
.silde_blog{
  text-align: center; 
  
}
.silde_blog h2{
   margin-bottom: 30px;
}
.silde_blog #lightSlider p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
} 
.blog_box{
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  margin-top: 25px;
   margin-bottom: 30px;
}
.blog_box img{
  padding: 2px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
}
.blog_infor{
  display: inline-block;
    line-height: 100%;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: 0;
    margin-bottom: 30px;
}
.silde_blog .lSAction>.lSPrev,.silde_blog .lSAction>.lSNext{
  font-size: 30px;
}
.silde_blog:hover .lSAction>.lSPrev,
.silde_blog:hover .lSAction>.lSNext {
  display: block;
  color: #444;

}
.silde_blog .lSPager{
  display: none;
}



/*---------------style card trending------------*/
.trending{
  text-align: center;
  margin-top: 40px;
}
.trending h3{
  color: #282828;
  font-size: 2rem;
  margin-bottom:20px ;
  font-family: 'Jost',sans-serif;

}
.content_trending p{
  color: #686868;
  font-size: 16px;
}

.hr{
  margin-bottom: 150px;
}
.item{
  height: 360px;
  width: 260px;
  margin: 0 auto;
  position: relative;
  top: 5em;
  border-radius: 20px;
  color: #fff;
  overflow: hidden;
}
/* .item:before{
  content: '';
  position: absolute;
  background: #9bdc28;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(140px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.item:hover:before{
  clip-path: circle(290px at 80% -20%);
}
.item:after{
  content:'Nike';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 600;
  font-style: italic;
  color: rgba(255, 255,255, 0.04);
} */
.img-item{
  position: absolute;
  height: 230px;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: 0.5s;
}
.img-item img{
  position: absolute;
  height: auto;
  width: 100%;
}
.item:hover .img-item{
  height: 190px;
  width: 100%;
  top: -10%;
  /* transform: translateY(    0%); */
}
.content{
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  z-index: 20;
  text-align: center;
  transition: 1s;
}
.item:hover .content{
  height: 220px;
}
.content h2{
  position: relative;
  color: #000;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.content p{
  position: relative;
  color: #000;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 6px;
  text-transform: uppercase;

}
.content .icon,
.content .color{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0px 20px;
  align-items: center;       /* cho cac phan tu tren cung 1 dong khi display flex */
  transition: 0.5s;
  margin-bottom: 10px;
  opacity: 0;
  visibility: hidden;
}
.item:hover .content .icon{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.item:hover .content .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.8s;
}
.content .color h3{
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
}
.content .icon span {
  height: 45px;
  width: 45px;
  padding-top: 9px;
  border-radius: 50%;
  background: #fff;
  margin: 0 7px;
  color:#111;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.content .icon span i{
  font-size: 16px;
}
.content .icon span:hover{
  background: #E63153;
  color: #fff;
}
.content .color span{
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 0 5px;
  background: #6969cc;
  cursor: pointer;
}
.content .color span:nth-child(2){
  background: #9bdc28ff;
}
.content .color span:nth-child(3){
  background: #e91e63;
}
.content .color span:nth-child(4){
  background: #03a94f;
}
.content a{
  padding: 10px 15px;
  background: #fff;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}
.item:hover .content a{
  opacity: 1;
  transform: translateY(-5px);
  
}
.item .content a:hover{
  background: #E63153;
  transition: 0.5s;
  color: #fff;
}
/*------------------end style cho trending----------*/

.visit{
  text-align: center;
  margin-top: 40px;
}
.visit h3{
  color: #282828;
  font-size: 2rem;
  margin-bottom:20px ;
  font-family: 'Jost',sans-serif;

}
.content_visit p{
  color: #686868;
  font-size: 16px;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 39px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out; 
}
#back-to-top:hover{
  background: #0d4aa5;
}